
h1 {font-size: 24pt;}
div.ext-box { display: table; width:100%; height:500px;}
div.int-box { display: table-cell; vertical-align: middle; text-align: center; height: 98vh; background-color:#cacaca; }